Package: com.yourcompany.open
Name: open
Architecture: iphoneos-arm
Description: An awesome tool of some sort!!
Maintainer: Cao Phuoc Thanh
Author: Cao Phuoc Thanh
Section: System
Tag: role::hacker
Version: 0.0.1-2+debug
Installed-Size: 196
